@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter_VariableFont_slnt_wght.ttf);
}
@font-face {
  font-family: "Mazius-Rg";
  src: url(./../fonts/Mazius_Display_Regular.otf);
}
@font-face {
  font-family: "Mazius-Xi";
  src: url(./../fonts/Mazius_Display_Extraitalic.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 226, 226);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-wrapper {
  width: 100vw;
  background-color: #fff;
  background-image: url(./../images/sfs-bg-01.jpg);
  background-position: center;
  background-repeat: 0;
  background-size: cover;
  padding: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headline-wrapper .title {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 16px;
}
.headline-wrapper .title h1 {
  color: #006aff;
  font-size: 96px;
  display: inline;
  font-family: "Mazius-Rg";
  padding: 0 16px;
}
.headline-wrapper .title span {
  color: #006aff;
  font-size: 96px;
  display: inline;
  font-family: "Mazius-Xi";
  padding: 0 16px;
}

.filterSortWrapper {
  background-color: f1f1f1;
  width: 100vw;
  background-color: #006aff;
  padding: 48px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: dashed 2px #006aff;
}
.filterSortWrapper .searchWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 16px;
}
.filterSortWrapper .searchWrapper .searchbar {
  grid-column: 1/4;
  background-color: #fff;
  padding: 16px 24px;
  border: solid 2px #006aff;
  border-radius: 50px;
}
.filterSortWrapper .searchWrapper select {
  background-color: #fff;
  padding: 8px 20px;
  border: solid 2px #006aff;
  border-radius: 50px;
}

.categories {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories .filterWrapper {
  padding: 24px 20px;
  justify-content: center;
}
.categories .filterWrapper input {
  font-size: 0.9rem;
  background-color: #dedede;
  padding: 16px 16px;
  margin: 8px;
  border: none;
  border: 2px solid #006aff;
  color: #006aff;
  border-radius: 50px;
}
.categories .filterWrapper input:hover {
  cursor: pointer;
  background-color: #006aff;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.categories .filterWrapper input:active {
  background-color: #006aff;
  color: #ffffff;
}

.productWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  padding: 0px 0;
  font-family: "Inter";
  margin: 0 10vw;
}
.productWrapper article {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s ease-in;
}
.productWrapper article .backgroundImage {
  margin-top: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 180px;
  margin-bottom: 32px;
  transition: 0.5s ease-in;
}
.productWrapper article h3 {
  padding: 32px;
  color: #000;
}
.productWrapper article .priceAdd {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 24px 24px;
  border-top: dashed 2px #006aff;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.productWrapper article .priceAdd span {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Mazius-Rg";
  padding: 8px 20px;
  color: #006aff;
  transition: 0.5s ease-in;
}
.productWrapper article .priceAdd button {
  display: inline-block;
  font-size: 0.9rem;
  grid-column: 1/4;
  background-color: #006aff;
  padding: 8px 20px;
  border: none;
  color: white;
  border-radius: 50px;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.productWrapper article:hover {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2274509804);
  border: solid 2px #006aff;
}
.productWrapper article:hover .backgroundImage {
  margin-top: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  margin-bottom: 14px;
}
.productWrapper article:hover .priceAdd {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 24px 24px;
  background-color: #006aff;
}
.productWrapper article:hover .priceAdd span {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Mazius-Rg";
  padding: 8px 20px;
  color: #ffffff;
}
.productWrapper article:hover .priceAdd button {
  display: inline-block;
  font-size: 0.9rem;
  grid-column: 1/4;
  background-color: #ffffff;
  padding: 8px 20px;
  border: none;
  color: #006aff;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2274509804);
}

@media screen and (max-width: 1005px) {
  .headline-wrapper .title {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
